@media (max-width: 420px) {
  .coffee {
    position: relative;
    width: 25px;
    height: 25px;
  }
  .coffee img {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 400px) {
  .carrois-gothic-regular {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .sulphur-point-light3 {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .listheading {
    font-size: medium;
    padding-top: 20px;
  }
}
/* Mobile styling */
@media (max-width: 600px) {
  .logo-container {
    align-items: flex-start;
  }

  .text-content {
    margin-top: -14px;
  }

  .imagess {
    height: 60px;
    width: 60px;
  }
  .imagess img {
    width: 60px;
    height: 60px;
  }

  .text-content p,
  .text-content a {
    font-size: 14px;
  }
}

/*------------------- Mobile Styles [About section], [Education], [project], [skills] ===========*/
@media (max-width: 768px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6 {
    margin: 1rem;
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

/* Responsive Footer */
@media (max-width: 768px) {
  .social-links {
    gap: 15px;
  }

  .social-icons a {
    padding: 0px;
    font-size: 24px;
  }

  .footer-container h2 {
    font-size: 20px;
  }
}

/* Coffee Icon bar*/
@media (max-width: 786px) {
  .coffee {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .coffee img {
    height: 30px;
    width: 30px;
  }
  .bg-image {
    width: 300px;
    height: 300px;
    top: 20%;
  }
}

@media (max-width: 768px) {
  .anton-regular {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .sulphur-point-light {
    font-size: 20px;
  }

  dd,
  dl,
  dt {
    font-size: 20px;
  }
}

/* Additional Media Query for Mobile Devices */
@media (max-width: 768px) {
  .background-video video {
    width: auto;
    height: 100vh;
    object-fit: cover;
  }
}

/* Dark Mode Toggle Button */
@media (max-width: 768px) {
  #toggle-container {
    display: flex;
    align-items: center;
    z-index: 1; /* Keep the toggle container behind the content */
  }

  #darkModeToggle {
    margin-left: 2rem;
    font-size: 20px;
    background: none;
    color: #f39c12;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 820px) {
  .card {
    width: 150px;
    height: 150px;
  }
}
